<h2>Empleados</h2>

<p-card class="Content" header="Agregar nuevo empleado">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <span class="p-float-label">
      <input id="float-input" type="text" pInputText formControlName="name" />
      <label for="float-input">Nombre</label>
    </span>
    <span class="p-float-label">
      <input
        id="float-input"
        type="text"
        pInputText
        formControlName="lastName"
      />
      <label for="float-input">Apellido</label>
    </span>
    <span class="p-float-label">
      <p-multiSelect
        [options]="skillsService.skills"
        formControlName="skills"
        optionLabel="name"
        display="chip"
      >
      </p-multiSelect>
    </span>
    <button
      pButton
      class="btn btn-primary"
      [disabled]="form.invalid"
      type="submit"
    >
      Enviar
    </button>
    <button
      pButton
      type="button"
      class="btn p-button-secondary"
      (click)="handleCancel()"
    >
      Cancelar
    </button>
  </form>
  <p-table
    class="Table"
    [value]="employeesService.employees"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Skills</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employee>
      <tr>
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.lastName }}</td>
        <td>
          <p-chip
            *ngFor="let skill of employee.skills"
            label="{{ skill.name }}"
          ></p-chip>
        </td>
        <td>
          <button
            pButton
            type="button"
            icon="pi pi-pencil"
            class="p-button-rounded p-button-info"
            (click)="handleUpdate(employee.id)"
          ></button>
          <button
            pButton
            type="button"
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger"
            (click)="handleDelete(employee.id)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
