body {
  margin: 0;
  padding: 0;
}
li {
  display: inline-flex;
  padding: 25px;
}
article {
  top: 368px;
  min-height: 500px;
  margin: 0 20px;
}
h2,
p {
  text-align: center;
  color: #fff;
}
ul {
  text-align: center;
}
