/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.p-float-label {
  margin-top: 25px;
}

.btn button {
  margin-top: 20px;
}

form button {
  margin-top: 25px !important;
}

button {
  margin-left: 5px !important;
}

.p-card {
  margin-top: 5px;
}

.p-datatable-table {
  margin-top: 15px;
}
